hr
footer#footer
    div.descriptionTop
        b K-MOON
        h3 K-MOON TE TRAE LO MEJOR EN PRODUCTOS DE BELLEZA
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias deserunt distinctio earum et illo in ipsum iste iure magni maiores molestias odit pariatur perspiciatis, quia saepe similique voluptate voluptates.
        a(href="/catalogoProducts") Conoce más aqui
    div.descriptionMid
        hr.lineHorizontal
        ul#socialMedia
            li
                i(class="fa-brands fa-instagram")
            li
                i(class="fa-brands fa-facebook")
            li
                i(class="fa-brands fa-whatsapp")
            li
                i(class="fa-brands fa-tiktok")
        hr.lineHorizontal
    ul#categoriasFooter
        li  Quienes somos
        li  Contacto
        li  Productos
        li  Promociones
        li  Envios

    h3 Encuentranos en Elvira García y Garcia 2514
    div.infoDev
        small @2024 KMOON TODOS LOS DERECHOS RESERVADOS, DESARROLLADO POR
        a(href="https://www.linkedin.com/in/paulo-aylas/")  JEATDEAM