doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Security-Policy", content="default-src 'self'; script-src 'self' 'unsafe-inline' https://js.stripe.com https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com; font-src 'self' https://fonts.gstatic.com; frame-src https://js.stripe.com; connect-src 'self' https://api.stripe.com http://localhost:3000; img-src 'self' data:;")
        title K-moon
        meta(name="description" content="Descubre los mejores productos de skincare coreano en K-moon. Cuida tu piel con lo mejor de la cosmética asiática. ¡visitanos!")
        link(rel="icon", href="/img/k-moon.png")
        link(rel="stylesheet", href="/css/style.css")
    body
        include header.pug
        block content
        include footer.pug
        script(src="/js/main.mjs", type="module")