doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title K-moon
        meta(name="description" content="Descubre los mejores productos de skincare coreano en K-moon. Cuida tu piel con lo mejor de la cosmética asiática. ¡visitanos!")
        link(rel="icon", href="/img/k-moon.png")
        link(rel="stylesheet", href="/css/style.css")
    body
        include header.pug
        block content
        include footer.pug
        script(src="/js/main.mjs", type="module")
